/* A Font, This is optional

@import url(https://fonts.googleapis.com/css?family=Karla);

div {
    font-family: 'Karla', sans-serif; !important;
}
*/


/* Themes the top bar */
.material #material-app-bar, .material #nav-container #music-content.material .material-cover {
    background-color: <<FORE_SECONDARY>> !important;
}

/* Removes the Shop button*/
#shop-nav, #nav_collections > paper-button {
	display: none;
}

/* Removes Youtube button */
[data-id="yt-indicator"] {
	display: none;
}

/* Makes the top bar transparrent when scrolling to the top */
paper-header-panel#content-container.transparent #material-app-bar {
    background-color: transparent !important;
    color: white !important;
}
.material #content-container sj-search-box, #content-container sj-search-box {
    background-color: rgba(20,21,23,.5) !important;
    color: #dcdcdc !important;
}
.material #content-container sj-search-box[opened] {
    background-color: #27292d !important;
}

/* Colours the Selecting of Text within the Edit section */
paper-dialog input::selection, paper-dialog textarea::selection {
	background:<<ALPHA 0.6>><<FORE_SECONDARY>><</ALPHA>>;
}

/* Fixes Play button in the Playlist tab (In Upstream will be removed onces new version made) */
.material .sj-play-button-0 #buttonContent.sj-play-button {
    background: <<FORE_SECONDARY>>;
}

.material .sj-play-button-0 #pulse.sj-play-button {
    background: <<ALPHA 0.5>><<FORE_SECONDARY>><</ALPHA>>;
}



