.material #material-app-bar, .material #nav-container #music-content.material .material-cover {
    background-color: <<FORE_SECONDARY>> !important;
}
#material-one-right #gb {
	min-width: 40px !important;
}

#shop-nav, #nav_collections > paper-button {
	display: none;
}

.material .sj-play-button-0 #buttonContent.sj-play-button {
    background: <<FORE_SECONDARY>>;
}

.material .sj-play-button-0 #pulse.sj-play-button {
    background: <<FORE_SECONDARY>>;
    opacity: .3;
}
[data-id="yt-indicator"] {
	display: none;
}
paper-header-panel#content-container.transparent #material-app-bar {
    background-color: transparent !important;
    color: white !important;
}


.material #content-container sj-search-box, #content-container sj-search-box {
    background-color: rgba(20,21,23,.5) !important;
    color: #dcdcdc !important;
}
