.title-bar {
    background-color: <<DARKEN 0.1>><<FORE_SECONDARY>><</DARKEN>> !important;
}

.window-border {
    border-color: <<DARKEN 0.1>><<FORE_SECONDARY>><</DARKEN>> !important;
}

.dialog .window-title {
	background-color:  <<FORE_SECONDARY>> !important;
}
[mini] .window-border {
	border-color: <<BACK_PRIMARY>> !important;
}
